<!DOCTYPE html>
<html>

<%- include("header") %>

  <div class="container-fluid" id="title-section">
    <div class="container text-center" id="title-container">

      <div class="row">
        <div class="col" id="title">
          World's friendliest cubing community
        </div>
      </div>

      <div class="row">
        <div class="col" id="subtitle">
          Make friends, get advice, and hang out with others
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="button">
            <a href="/discord" id="join-button">Join us on Discord</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <main>


  </main>

  <%- include("footer") %>

</html>