<!DOCTYPE html>
<html>

<%- include("header") %>

  <div class="container-fluid" id="title-section">
    <div class="container text-center" id="title-container">

      <div class="row">
        <div class="col" id="title">
          World's friendliest cubing community
        </div>
      </div>

      <div class="row">
        <div class="col" id="subtitle">
          Make friends, get advice, and hang out with others
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="button">
            <a href="/discord" id="join-button">Join us on Discord</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <main>

    <div class="row">
      <div class="col">
        <div class="row">
          <div>"Fantastic"</div>
        </div>
        <div class="row">
          <div class="review" id="review1">
            The server is really great! I met alot of speed cubers, and the community is a really active and friendly
            community it's been a long time since i found a server as good as this!
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="row">
          <div>"Amazing"</div>
        </div>
        <div class="row">
          <div class="review" id="review2">
            One of the best communities. Positive chatting, daily challenges, and helpful for people of all skill
            levels.
            Willing to help people if you don’t know how to solve a cube or are trying to improve. If I could give it
            more
            stars I would.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="row">
          <div>"Awesome"</div>
        </div>
        <div class="row">
          <div class="review" id="review3">
            It's a simple server yet whenever you need help or advice, you can ask it there. It's a place for those who
            are
            just starting with cubing and for those who cube for years, it's one of the better cube servers out there.
  
            would join 10/10
          </div>
        </div>
      </div>
    </div>

  </main>

  <%- include("footer") %>

</html>